.poke-card{
    background-color: white;
    color: black;
    border-color: #000;
    border-style: solid;
    border-width: 4px;
}

.go-back-btn{
    margin: 0;
    margin-left: 4px;
}

.type-card{
    border-radius: 10px;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.stat-progress{
    height: 20px;
    width: 50%;
    margin-left: auto;
}