.m-0{
    margin: 0px;
}

.mt-16{
    margin-top: 16px;
}

.dialog-menu{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    padding-left: 0px;
}