/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    box-sizing: border-box;
    background-color:#cebd60;
    color: #504f12;
    margin: 0px;
}

html { height: 100%; box-sizing: border-box; margin: 0; }

.header{ flex: 0 0 auto; }
.content{ flex: 1 1 auto; overflow-y: auto; }
.footer{ flex: 0 0 auto; }

.nes-container {
    width: 100%;
    position: relative;
    padding: 1.5rem 2rem;
    border-color: #000;
    border-style: solid;
    border-width: 4px;
}

.content-border{
    border-width: 20px;
}

.border-rad{
    border-radius: 25px;
}

.text-center{
    text-align: center;
}

.transparent{
    background-color: transparent;
}

.x-small{
    font-size: small;
}

.width-100{
    width: 100%;
}

.height-inherit{
    height: inherit;
}

.capitalize{
    text-transform: capitalize;
}