<div *ngIf="!pokemons" fxLayout="column">
    <img width="250" height="250" src="assets/img/loadingpokeball.gif" alt="">
    <span>Loading</span>
</div>

<div *ngIf="pokemons">
    <div class="nes-field">
        <input [(ngModel)]="listFilter" type="text" id="filterInput" class="nes-input" placeholder="Search...">
    </div>
    <table class="nes-table is-bordered is-centered transparent small width-100 max-w-418">
        <thead>
            <tr>
                <th>POKEMON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poke of filteredPokemons" (click)="selectPkmn(poke)">
                <td>
                    <!--<span class="poke-name">#{{i+1}}</span>-->
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <span class="poke-name">#{{poke.number}}</span>
                            <span class="poke-name">{{poke.name}}</span>
                        </div>
                        <img width="90" src="{{poke.sprite}}" alt="">
                    </div>
                </td>
            <tr>
            </tr>
        </tbody>
    </table>
</div>