.poke-name{
    text-transform: capitalize;
    font-size: small;
}

.max-w-418{
    max-width: 418px !important;
}

table{
    background-color: white !important;
    color: black !important;
}

.search-bar{
    border-right-width: 0px;
    border-right-style: solid;
    padding-right: 6px;
    margin-right: -6px;
}