<pokedex-paginator 
    [rows]="pokemonPageSize" 
    [totalRecords]="totalPokemons" 
    [preselectedPage]="pokemonPage"
    (onPageChanged)="onPageChange($event)">
</pokedex-paginator>

<div *ngIf="pokemons && pokemons.length == 0" fxLayout="column">
    <img width="250" height="250" src="assets/img/loadingpokeball.gif" alt="">
    <span>Loading</span>
</div>

<table *ngIf="pokemons && pokemons.length != 0" class="nes-table is-bordered is-centered transparent small">
    <thead>
        <tr>
            <th>POKEMON</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let poke of pokemons;let i=index" (click)="selectPkmn(poke)">
            <td>
                <!--<span class="poke-name">#{{i+1}}</span>-->
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <span class="poke-name">#{{getPokeId(poke.url)}}</span>
                        <span class="poke-name">{{poke.name}}</span>
                    </div>
                    <img width="90" src="{{pokemonsPic[i]}}" alt="">
                </div>
            </td>
        <tr>
        </tr>
    </tbody>
</table>

<pokedex-paginator 
    [rows]="pokemonPageSize" 
    [totalRecords]="totalPokemons" 
    [preselectedPage]="pokemonPage"
    (onPageChanged)="onPageChange($event)">
</pokedex-paginator>