<div *ngIf="!pokemons" fxLayout="column">
    <img height="250" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/029b8bd9-cb5a-41e4-9c7e-ee516face9bb/dayo3ow-7ac86c31-8b2b-4810-89f2-e6134caf1f2d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAyOWI4YmQ5LWNiNWEtNDFlNC05YzdlLWVlNTE2ZmFjZTliYlwvZGF5bzNvdy03YWM4NmMzMS04YjJiLTQ4MTAtODlmMi1lNjEzNGNhZjFmMmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ooubhxjHp9PIMhVxvCFHziI6pxDAS8glXPWenUeomWs" alt="">
    <span>Loading</span>
</div>

<table *ngIf="pokemons" class="nes-table is-bordered is-centered transparent small">
    <thead>
        <tr>
            <th>POKEMON</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let poke of pokemons;let i=index" (click)="selectPkmn(poke)">
            <td>
                <!--<span class="poke-name">#{{i+1}}</span>-->
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <span class="poke-name">#{{i+1}}</span>
                        <span class="poke-name">{{poke.name}}</span>
                    </div>
                    <img width="90" src="{{pokemonsPic[i]}}" alt="">
                </div>
            </td>
        <tr>
        </tr>
    </tbody>
</table>